<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multer suffered me</title>
</head>
<body>
  <h2>Multer Suffered  me side project</h2>
  <!-- <form method="post" action="http://localhost:3003/upload" enctype="multipart/form-data"> -->
  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="Username.." />
    <input type="file" name="uploadImage">
    <br />
    <br />
    <input type="submit" value="Upload">
  </form>
</body>
</html>